



{# templates/articles/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}
    <h1>Créer un article</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Créer</button>
    {{ form_end(form) }}
{% endblock %}
